h1 {
  text-align: center;
  text-shadow: 2px 2px gray;
}
.top-paragraph, ul {
  text-shadow: 1px 1px gray;
}
li::marker {
  text-shadow:  1px 1px black;
  content: ">> ";
  padding-right: 5%;
}
.webb-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 72%;
  float: left;
  padding-right: 2%;
}
